<h1>New Comment</h1>

<%= form_with(model: [@post, @comment], url: user_post_comments_path(@post.author, @post), local: true) do |form| %>
  <div class="field">
    <%= form.text_area :text, placeholder: 'Leave a comment'%>
  </div>
  <div class="actions">
    <%= form.submit 'Create Comment' %>
  </div>
<% end %>
