<div class='main_div'>
  <% @users.each do |user| %>
    <div class='user_div'>
      <%= link_to user_path(user) do %>
        <div class='user_photo'>
          <%= image_tag user.photo %>
        </div>
        <div class='user_info'>
          <p class='user_name'><%= user.name %></p>
          <p class='number_of_posts'>Number of posts: <%= user.post_counter %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
