* {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 10rem;
  width: auto;
}

.user_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem 1.5rem 3rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.4);
}

.user_info {
  width: 60rem;
  padding: 0.5rem;
}

.user_name {
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
}

.number_of_posts {
  text-align: right;
  font-size: 1.3rem;
}

.user_bio {
  padding: 1.5rem 3rem 1.5rem 3rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.4);
  font-size: 1.7rem;
}

.posts {
  padding: 1.5rem 3rem 1.5rem 3rem;
  font-size: 1.5rem;
}

.individual_post {
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  padding: 1rem;
}

.individual_post:hover {
  box-shadow: 3px 3px 5px 1px rgba(4, 86, 18, 0.792);
  text-shadow: 1px 1px rgba(4, 86, 18, 0.792);
}

.individual_large_post {
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  padding: 1rem;
}

h2 {
  margin: 0.3rem;
  font-size: 1.5rem;
}

h3 {
  margin: 0.3rem;
  font-size: 1.3rem;
}

.number_of_comments {
  margin: 0.3rem;
  font-style: italic;
  text-align: right;
  font-size: 1.2rem;
}

.comments_div {
  font-size: 1.2rem;
  font-style: italic;
  margin: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.728);
  padding: 1rem;
}

.posts_page {
  margin: 0.3rem;
}

.whole_post {
  font-size: 1.8rem;
}

a > .button {
  float: right;
  width: 15rem;
  height: 5rem;
  background-color: green;
  color: white;
  font-weight: 900;
  font-size: 2rem;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a > .btn {
  background-color: green;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
}

.main_form_div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  width: 25rem;
  height: 3rem;
}

.actions > input {
  background-color: green;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
}
